@font-face{
  font-family: water;
  src: url("https://i.makeagif.com/media/10-13-2023/AGp6vn.gif");
}

body {
  background-color: rgb(255, 168, 193);
  text-align: center;
  color: rgb(185, 0, 71);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://clipart-library.com/2024/clip-rainbow-gif/clip-rainbow-gif-2.gif");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(255, 100, 167);
}



